body {
  font-family: "Twemoji Country Flags", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-header {
  display: flex;
  padding-block: 20px;
  justify-content: flex-end;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24333e;
  gap: 0.8rem;
  width: auto;
  height: 48px;
  border-radius: 25px;
}